blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

body {
    background: #fff;
    color: #000;
    font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif
}

body,
caption,
td,
th {
    font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 100%
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: 400
}

a {
    text-decoration: none;
    color: inherit
}

img {
    border: none;
    vertical-align: middle
}

li,
ol,
ul {
    list-style: none
}

button,
input,
select,
textarea {
    font: 14px 'Microsoft yahei', Verdana, Helvetica, Arial, sans-serif;
    vertical-align: middle;
    border: none;
    resize: none
}

table {
    border-collapse: collapse
}
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.fl {
    float: left
}

.fl,
.fr {
    display: inline
}

.fr {
    float: right
}

.p_rel {
    position: relative
}

.p_abs {
    position: absolute
}

#pages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

#pages a {
    min-height: 34px;
    min-width: 30px;
    line-height: 34px;
    border: 1px solid #333;
    text-align: center;
    margin: 0 5px;
    font-size: 9pt;
    color: #333;
    padding: 0 2px
}

#pages a.active {
    background: #000;
    color: #fff
}

#phone_header,
.site-search {
    display: none;
}

@media (max-width:991px){
    /* 手机导航 */
    body.hack {
        height: 100%;
        overflow-y: hidden;
        position: fixed;
        left: 0;
        top: 0;
    }

    #phone_header {
        display: block;
        width: 100%;
        height: 50px;
        position: fixed;
        left: 0;
        top: 0;
        background: #fff;
        z-index: 9999;
        border-bottom: none;
        padding: 10px 0px;
        -webkit-box-shadow: 0 1px 4px #ddd;
        box-shadow: 0 1px 4px #ddd;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .navto-search {
        /* position: absolute;
        right: 0;
        top: 0; */
        float: right;
        
    }

    .navto-search a {
        display: block;
        padding: 1px 15px;
        height: 25px;
        line-height: 25px;
        color: #777;
        font-size: 25px;font-size: 25px!important;
    }
    .navto-search i{
        font-size: inherit
    }
    .phone_logo {
        text-align: center;
        max-width: 70%;
        overflow: hidden;
        margin: 0;
        float: left;
        margin-left: 15px;
    }

    .phone_logo a {
        height: 30px;
        /* max-width: 180px; */
        /* margin: 0 auto; */
        text-align: center;
        display: block;
        overflow: hidden;
        font-size: 0;
    }

    .phone_logo img {
        height: 100%;
        max-width: 100%;
        /* margin: 0 auto; */
        display: block;
    }

    .m_icon_nav {
        /* position: absolute; */
        /* top: 0; */
        /* left: 0; */
        color: #777;
        width: 25px;
        height: 25px;
        margin-left: 15px;
        cursor: pointer;
        font-size: 25px!important;
        float: right;
    }
    .m_mask {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        /* background-color: rgba(0, 0, 0, 0.5); */
        z-index: 99998;
        overflow: hidden;
        display: none;
    }
    .m_mask.show {
        display: block;
    }

    .m_navbar {
        margin: 0 0;
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        height: 100%;
        background-color: #fff;
        text-align: left;
        padding: 15px 0 41px;
        line-height: 1;
        font-size: 14px;
        width: 65%;
        z-index: 99999;
        display: block;
        overflow-y: auto;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -webkit-box-shadow:  0 0 10px #f5f5f5;
                box-shadow:  0 0 10px #f5f5f5;
    }

    .m_navbar.show {
        left: 0;
    }
    .m_navbar li{
        position: relative;
    }
    .m_navbar li a {
        display: block;
        font-weight: bold;
        margin: 0;
        padding: 13px 40px 13px 20px;
        border-bottom: 1px solid #ddd;
        color: #333;

    }
    .button{
        background: transparent;
        border: 0;
        border-radius: 0;
        height: 40px;
        width: 40px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        text-transform: none;
        border-left: 1px solid #ddd;
        outline: none;
    }
    .containers {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .site-search {
        display: block;
    }

    body.arrows .site-search {
        top: 50px;
    }

    .site-search {
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.95);
        position: fixed;
        top: -100px;
        left: 0;
        right: 0;
        height: 100px;
        z-index: 8;
        transition: .3s top ease-in-out;
        -webkit-transition: .3s top ease-in-out;
        -moz-transition: .3s top ease-in-out;
        -ms-transition: .3s top ease-in-out;
        -o-transition: .3s top ease-in-out;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
                box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
    }
    .banner{
        margin-top: 50px;
    }
    .con15{
        margin: 0 15px;
        max-width: 1200px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .search-input {
        float: left;
        color: #999;
        border: solid 1px #ddd;
        width: 85%;
        height: 50px;
        padding: 4px 12px;
        border-right: none;
        font-size: 16px;
        border-radius: 2px 0 0 2px;
        outline: none;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .site-search-form {
        padding: 25px 0;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }.search-btn {
        color: #fff;
        border: none;
        background: #45B6F7;
        height: 50px;
        font-size: 20px !important;
        padding: 0 12px;
        border-radius: 0 2px 2px 0;
        width: 15%;
        outline: none;
        cursor: pointer;
    }
    .search-btn i{
        font-size: inherit
    }
    .m_navbar ol{
        display: none;
    }
    .m_navbar ol li a{
        font-weight: normal;
        text-indent: 20px;
    }
    .arrow.icon-jiantouxia:before{
        content: "\e62c";
    }
    .m_navbar .iconfont{
        font-size: 12px;
    }
    body.arrows .search-show .icon-sousuo:before{
        content: "\e663";
    }
}
@media (max-width:767px){
    .site-search{
        height: 80px;
    }
    .search-input{
        height: 40px;
        font-size: 14px;
    }
    .search-btn{
        height: 40px;
    }
    .site-search-form{
        padding: 20px 0;
    }
}
